@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&family=Quicksand:wght@700&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
color:white;
}
body {
  background-color: rgb(36, 43, 52);
}
.main-nav {
  background-color: rgb(36, 43, 52);
  color: white;
}
.nav-container {
  display: flex;
  align-items: center;
}
.coder-name {
  font-family: 'Quicksand',sans-serif;
  margin-left: 40px;
  font-size: 25px;
font-weight: 700;
}
.nav-container ul {
  flex-grow: 1;
  text-align: end;
}
.main-nav a {
  text-decoration: none;
  color: white;
  padding: 20px;
}
a:hover {
  background-color: rgba(214, 233, 236, 0.6);
}
.main-nav ul li {
  display: inline-flex;

  color: rgb(150, 137, 137);
  text-align: end;
}.welcome-section{
  display:flex;
  color: white;
  font-size: larger;
}
.coder-img{
  margin-left:100px;

}
.aboutme-title{
  margin-left: 150px;
  color:white ;
}.hellothere{
font-family: 'Quicksand',sans-serif;
font-size: smaller;
 
 margin-top:50%;
width:100px;
text-align: center;
  background-color: green;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
border-bottom-left-radius: 30px;
padding:5px;
}h1,h4,h2{
  font-family: 'Quicksand',sans-serif;
  padding: 5px;
}h1,{
  font-size: 50px;
}