@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&family=Quicksand:wght@400&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
color:white;
}
body {
  background-color: rgb(36, 43, 52);
}
.main-nav {
  background-color: rgb(36, 43, 52);
  color: white;
}
.nav-container {
  display: flex;
  align-items: center;
}
.coder-name {
  font-family: 'Quicksand',sans-serif;
  margin-left: 40px;
  font-size: 25px;
font-weight: 700;
}
.nav-container ul {
  flex-grow: 1;
  text-align: end;
}
.main-nav a {
  text-decoration: none;
  color: white;
  padding: 20px;
}
a:hover {
  background-color: rgba(214, 233, 236, 0.6);
}
.main-nav ul li {
  display: inline-flex;

  color: rgb(150, 137, 137);
  text-align: end;
}.welcome-section{
  display:flex;
  color: white;
  font-size: larger;
}
.coder-img{
  margin-left:100px;

}
.aboutme-title{
  margin-left: 150px;
  color:white ;
}.hellothere{
font-family: 'Quicksand',sans-serif;
font-size: smaller;
 
 margin-top:50%;
width:100px;
text-align: center;
  background-color: green;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
border-bottom-left-radius: 30px;
padding:5px;
}h1,h4,h2{
  font-family: 'Quicksand',sans-serif;
  padding: 5px;
}h1{
  font-size: 50px;
}.about{
display: inline-flex;
  padding: 100px;
  font-size: 15px;
}.about a{
  text-decoration: none;
  background-color: green;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  font-size:small;
  padding:10px;
  color: white;

}
.about p{
  font-family: 'Quicksand',sans-serif;
  margin-top: 100px;
  max-width: 600px;
}.aboout-img{
  display: flex;
}.about h2{
  color: rgb(114, 192, 231);
  position:absolute;
  margin-top: 50px;
font-size: 30px;
 width:600px;
 
}
/* Now Project Section Starts*/
.projects{
  padding: 20px;
}
.projects h2{
  text-align: center;
  font-size: 50px;
}
.recentworks1{
display: flex;
justify-content: space-between;
max-width: 100px;
padding-left:150px;
text-align: center;

  
}.recentworks2{
  display: flex;
  justify-content: space-between;
  max-width: 100px;
  padding-left:150px;
}
.recent-size{
  width: 500px;
  height: 300px;
}
.recent1{
  margin-left:10px;
  margin-right:100px;
  margin-top: 20px;
  }
  .recent2{
    margin-left:10px;
    
    margin-top: 20px;
    }
  .recent3{
    margin-left:10px;
    margin-right:100px;
    margin-top: 20px;
  }
  .recent4{
    margin-left:10px;
    
    margin-top: 20px;
  
  }
 .projects  a{
   text-decoration: none;
   
 }
 /* Pricing Table starts here*/
 .pricecontainetext h1{
  text-align: center; /* here pricing heading style is defined */
  font-size: 50px;

}.pricingandreview{
  margin-top: 60px;
  padding: 20px;
}
.pricecontainer{

  display:flex;
  justify-content: space-evenly;
 
} .box{
  width: 300px;
  background-color: rgb(45, 52, 62);
  text-align: left;
  padding: 20px;
  
  text-decoration: none;
 ;
}
.pricecontainer{
  margin-top: 40px;
}.pricecontainer  h3,h4{
  text-align: center ;
  font-family: 'Quicksand',sans-serif;
  font-size: 40px;
  
}.box li{
  width: 300px;
  background-color: rgb(45, 52, 62);
list-style-type:none;
  text-align:center;
  line-height: 50px;
  margin-top: 20px;
 
}.hirebox{
  font-family: 'Quicksand',sans-serif;
  font-weight:lighter ;
   
   margin-top:50%;
  width:100px;
  text-align: center;
    background-color: green;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
border-bottom-right-radius:30px;
  padding:10px;
  color: white;
  text-decoration: none;
}
/*here review styles are sldjflskdflksstarts here*/
.reviewtext h1{
  text-align: center; /* here pricing heading style is defined */
  font-size: 50px;}
  .reviewcontainer1{
    display: flex;
    justify-content:space-evenly;
    margin-top: 40px;
  }
  
  .reviewcontainercontent1{
    text-align: center;
    height: 300px;
    padding: 30px;
    line-height: 40px;
    
  }
  .review-image{
  
    border-radius: 50%;
    width: 80px;
  }
  .review-image2{
    border-radius: 50%;
    width: 70px;
    height: 60px;
    
  }